
# # Playwright
# node_modules/
# /test-results/
# /playwright-report/
# /blob-report/
# /playwright/.cache/
# /playwright/.auth/
# package-lock.json

# Playwright
/package-lock.json/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp/

preprod.playwright.config.js
tests/screenshots
allure-report
allure-results
.auth